.rz-fileupload-files {
    display: none !important;
}

ul[role=tablist] {
    flex-wrap: wrap !important;
    justify-content: center !important;
}

.rz-accordion {
    box-sizing: border-box;
    background-color: #222529 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

    .rz-accordion .rz-accordion-header {
        background-color: #222529 !important;
        margin: var(--rz-accordion-item-margin);
    }

.rz-accordion-content {
    font-size: var(--rz-accordion-content-font-size);
    background-color: #222529 !important;
    padding-block: var(--rz-accordion-content-padding-block);
    padding-inline: var(--rz-accordion-content-padding-inline);
}
