@page "/rules"

<PageTitle>kTVCSS @@ Правила</PageTitle>

<RadzenTabs RenderMode="TabRenderMode.Client">
    <Tabs>
        <RadzenTabsItem Text="Правила проекта">
            <RadzenText TextStyle="TextStyle.H2" Text="Основные правила проекта" />
            
            <RadzenText Text="1. Общие положения" />
            <ul>
                <li><RadzenText Text="1.1 Проект - сайт ktvcss.ru, группа ВК vk.com/ktvcss, игровые серверы kTVCSS, сервер TeamSpeak3 kTVCSS." /></li>
                <li><RadzenText Text="1.2 Администратор - человек, который модерирует Проект, имеет определенные полномочия." /></li>
                <li><RadzenText Text="1.3 Игрок / Пользователь - человек, который посещает Проект." /></li>
                <li><RadzenText Text="1.4 Аккаунт - учетная запись Пользователя на сайте ktvcss.ru." /></li>
                <li><RadzenText Text="1.5 Стороннее ПО - стороннее программное обеспечение, которое применяется к игре Counter Strike, дающее преимущество в игре (читы, хаки и тд)." /></li>
                <li><RadzenText Text="1.6 Читер - Игрок, который использует Стороннее ПО." /></li>
                <li><RadzenText Text="1.7 Matchmaking - система подбора игроков в матче для игры на Проекте." /></li>
            </ul>
                
            <RadzenText Text="2. Правила пребывания на проекте" />
            <ul>
                <li><RadzenText Text="2.1 Находясь на Проекте и использование ресурсов Проекта, Вы (Пользователь) соглашаетесь с настоящими правилами Проекта." /></li>
                <li><RadzenText Text="2.2 Регистрируясь на сайте ktvcss.ru, вы даёте свое согласие на обработку персональных данных (Имя, Фамилия, VKID, STEAMID) в целях публикации информации об ваших игровых данных и присвоения идентификационного номера вашего профиля." /></li>
                <li><RadzenText Text="2.3 Никнеймы, выбор аватара и шапки профиля на сайте ktvcss.ru является исключительным правом Пользователя, но есть некоторые ограничения. Администратор оставляет за собой право приостановить возможность использования аккаунта, если он так или иначе нарушает следующие пункты:" /></li>
                <ul>
                    <li><RadzenText Text="2.3.1 Наличие какого-либо адреса сайта с рекламой стороннего ресурса." /></li>
                    <li><RadzenText Text="2.3.2 Использование не имеющих смысла наборов символов в никнейме." /></li>
                    <li><RadzenText Text="2.3.3 Никнейм/аватар/шапка профиля и другие элементы профиля пользователя не должны являться оскорбительными, содержать нецензурный контент, рекламу." /></li>
                </ul>
            </ul>

            <RadzenText Text="3. Правила пребывания на проекте" />
            <ul>
                <li><RadzenText Text="3.1 На сайте ktvcss.ru запрещено:" /></li>
                <ul>
                    <li><RadzenText Text="3.1.1 Оскорблять участников Проекта, переходить на личности." /></li>
                    <li><RadzenText Text="3.1.2 Размещать личную информацию третьих лиц." /></li>
                    <li><RadzenText Text="3.1.3 Использовать нецензурную брань (мат) в никнейме." /></li>
                    <li><RadzenText Text="3.1.4 Оскорбление Пользователей и членов Администрации вне Проекта недопустимо и рассматривается индивидуально Админстраторским составом в таких случаях." /></li>
                    <li><RadzenText Text="3.1.5 Злоупотреблять системой репортов (отправлять 2 и более репортов на 1 человека с одного Аккаунта)." /></li>
                </ul>
                <li><RadzenText Text="3.2 На сервере TeamSpeak3 запрещено:" /></li>
                <ul>
                    <li><RadzenText Text="3.2.1 Использовать никнеймы, в которых содержатся оскорбительные или нецензурные слова, реклама иных ресурсов, расизм, национализм, фашизм, экстремизм, разжигание ненависти, пустые ники." /></li>
                    <li><RadzenText Text="3.2.2 Реклама сторонних ресурсов, других TeamSpeak3 серверов, проектов (в описании канала, в имени Пользователя, в названии канала)." /></li>
                    <li><RadzenText Text="3.2.3 Запрещен флуд (в личные сообщения Пользователей, общий чат) Пользователям или Администраторам." /></li>
                    <li><RadzenText Text="3.2.4 Выдавать группу канала Chanel Admin всем подряд. Если у Администратора возникает трудость установить владельца канала, Администратор имеет право удалить этот канал." /></li>
                    <li><RadzenText Text="3.2.5 Заходить на различные каналы пользователей без разрешения, влезать в разговор Пользователю с VIP привилегией." /></li>
                    <li><RadzenText Text="3.2.6 Выпрашивание админок / випок / разбана / размута." /></li>
                </ul>
                <li><RadzenText Text="3.3 На игровых серверах запрещено:" /></li>
                <ul>
                    <li><RadzenText Text="3.3.1 Никнеймы:" /></li>
                    <ul>
                        <li><RadzenText Text="3.3.1.1 Никнеймы и клан-теги, содержащие в себе любую рекламу, фашизм, экстремизм, ссылки на сторонние ресурсы, оскорбления Игроков/Администрации." /></li>
                        <li><RadzenText Text="3.3.1.2 Никнеймы, содержащие плагиат текущих ников Администраторов Проекта." /></li>
                    </ul>
                    <li><RadzenText Text="3.3.2 Игровой процесс:" /></li>
                    <ul>
                        <li><RadzenText Text="3.3.2.1 Умышленные действия, препятствующие нормальному игровому процессу других Игроков, т.е. грифинг/троллинг (умышленное удерживание бомбы или ее закидывание в недоступные места, стрельба в голову союзникам, загораживание снайперам обзора, бросание световых гранат перед союзниками и т.д.)." /></li>
                        <li><RadzenText Text="3.3.2.2 Мониторинг Игроков противоположной команды, когда вы мертвы / играете за другую команду (сообщение местоположения вражеских Игроков через любую стороннюю связь: Discord, Skype, TeamSpeak3 соцсети, мессенджеры и т.д.)." /></li>
                        <li><RadzenText Text="3.3.2.3 Запуск и использование Стороннего ПО (п 1.5)." /></li>
                        <li><RadzenText Text="3.3.2.4 Использование багов, дающих любые преимущества над другими Игроками (баги карты, разминирование через стены, щели и отверстия в стенах карты, баги игрового мода, бесконечная закупка гранат, любые внутри проектные и системные баги, возникшие в ходе разработки и любые другие вновь выявленные баги)." /></li>
                        <li><RadzenText Text="3.3.2.5 Выход во время игры в Matchmaking (находясь в лобби, до запуска матча, во время матча)." /></li>
                        <li><RadzenText Text="3.3.2.6 Подстрекательство к бану Игроков, которые не нарушают правил Проекта." /></li>
                        <li><RadzenText Text="3.3.2.7 На миксах, если Вы за КТ постоянно пушите, при этом за Т вы почти не выходите с респы или сидите до конца раунда." /></li>
                    </ul>
                    <li><RadzenText Text="3.3.3 Голосовой и текстовый чат:" /></li>
                    <ul>
                        <li><RadzenText Text="3.3.3.1 Пользоваться плохо настроенным или сломанным микрофоном." /></li>
                        <li><RadzenText Text="3.3.3.2 Любые неадекватные действия с микрофоном: крики, свист, музыка." /></li>
                        <li><RadzenText Text="3.3.3.3 Флуд чата однотипными сообщениями." /></li>
                        <li><RadzenText Text="3.3.3.4 Оскорбления других Игроков/Администрации. Ответ оскорблением на оскорбление также считается нарушением." /></li>
                        <li><RadzenText Text="3.3.3.5 Реклама сторонних ресурсов, не относящихся к Проекту." /></li>
                        <li><RadzenText Text="3.3.3.6 Использование программы HLDJ, ClownFish и других подобных программ." /></li>
                    </ul>
                </ul>
                <li><RadzenText Text="3.4 На Проекте также запрещено:" /></li>
                <ul>
                    <li><RadzenText Text="3.4.1 Разжигать ненависть или вражду, унижать достоинства Пользователей Проекта и их родных по признакам пола, расы, национальности, языка, происхождения, насилия, отношения к религии, а равно принадлежности к какой-либо социальн" /></li>
                    <li><RadzenText Text="3.4.2 Обсуждать политику в любом виде, размещать в изображениях ClientMod профиле/любых сообщениях символику/лозунги/призывы использующиеся военными любой из сторон, флаги и символику непризнанных государств, любых политических партий, запрещенных и террористических организаций." /></li>
                    <li><RadzenText Text="3.4.3 Создавать более одного Аккаунта. При обнаружении такие Аккаунты блокируются безвозвратно." /></li>
                </ul>
            </ul>
            
            <RadzenText Text="4. Наказания за нарушение правил Проекта" />
            <ul>
                <li><RadzenText Text="4.1 Следующие виды наказания применяются к Пользователям, которые нарушили правила Проекта:" /></li>
                <ul>
                    <li><RadzenText Text="4.1.1 Предупреждение: п. 3.1.1 | п. 3.1.4 | п. 3.2.1 | п. 3.2.6 | п. 3.3.3.1 | п. 3.3.3.6." /></li>
                    <li><RadzenText Text="4.1.2 Блокировка Пользователя на 24 часа: п. 3.1.1 - 3.1.4 | п. 3.1.6 | п. 3.2.1 | п. 3.2.3 | п. 3.2.5 | п. 3.2.6 | п. 3.3.2.1 - 3.3.2.2 | п. 3.3.2.5 | п. 3.3.3." /></li>
                    <li><RadzenText Text="4.1.3 Блокировака Пользователя на 7 дней: п. 3.1.1 - 3.1.4 | п. 3.1.6 | п. 3.2.1 - 3.2.6 | п. 3.3.1 | п. 3.3.2.4 | п. 3.3.3 | п. 3.4.1 - 3.4.2." /></li>
                    <li><RadzenText Text="4.1.4 Блокировка Пользователя навсегда: п. 3.3.2.3 | п. 3.4." /></li>
                </ul>
                <li><RadzenText Text="4.2 Все сроки блокировок показательны и обозначают тяжесть нарушения." /></li>
                <li><RadzenText Text="4.3 Администратор оставляет за собой право выбрать любой вид блокировки, если пункт правил указан в 2-х и более видах блокировок." /></li>
                <li><RadzenText Text="4.4 Блокировка пользователя оспариванию и обжалованию с Администрацией не подлежит." /></li>
            </ul>

            <RadzenText Text="5. Заключение" />
            <ul>
                <li><RadzenText Text="5.1 Администрация Проекта оставляет за собой право изменять данные правила в любое время без уведомления пользователей об этом." /></li>
                <li><RadzenText Text="5.2 Администрация имеет полное право на свободу действия в области развития и контроля Проекта." /></li>
                <li><RadzenText Text="5.3 Последнее слово остается за Администратором." /></li>
            </ul>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Турнирные правила">
            <RadzenText TextStyle="TextStyle.H2" Text="Турнирные правила" />
            
            <RadzenText Style="color: var(--rz-danger)" Text="Команды-участники турниров автоматически соглашаются с приведенными ниже правилами. Любые спорные ситуации, которые не указаны в правилах, будут решены администрацией турнира на их усмотрение." />
            <RadzenText TextStyle="TextStyle.H4" Style="margin-top: 4vh" Text="Участие в турнире" />
            <RadzenText Text="Команды, участвующие в турнирах от kTVCSS, должны состоять максимум из 10 человек, причём пятеро из них это основа, а остальные - резерв. Состав должен быть окончательно сформирован в день, предшествующий началу турнира." />

            <RadzenText TextStyle="TextStyle.H4" Style="margin-top: 4vh" Text="Проведение матчей" />
            <RadzenText Text="Команды должны явиться на матч в указанное в расписании матчей дату и время. Допускаются опоздания команд на 20 минут. В случае неявки игроков одной из команд в течение 20 минут после начала матча, команда получает техническое поражение. Однако, по обоюдному желанию команды могут начать матч без опоздывающих игроков, если это позволяет сделать система. Недопустимо, когда у команды есть игрок, которого нет в заявке или он из другой команды." />
            <RadzenText Text="В случае bo3 или bo5 матчей допускаются десятиминутные перерывы между картами. В случае истечения времени на перерыв команда имеет право запустить матч в форматах 4x5 или 3x5. В иных случаях ставится техническое поражение за карту (не за матч)." />

            <RadzenText TextStyle="TextStyle.H5" Style="margin-top: 4vh" Text="Список официальных карт турниров kTVCSS:" />
            <ul>
                <li><RadzenText Text="de_dust2_ob" /></li>
                <li><RadzenText Text="de_inferno_ob" /></li>
                <li><RadzenText Text="de_overpass_csgo" /></li>
                <li><RadzenText Text="de_tuscan" /></li>
                <li><RadzenText Text="de_nuke_old_blue_ep" /></li>
                <li><RadzenText Text="de_cache_csgo" /></li>
                <li><RadzenText Text="de_mirage_csgo_v2" /></li>
                <li><RadzenText Text="de_season" /></li>
            </ul>

            <RadzenText TextStyle="TextStyle.H5" Style="margin-top: 4vh" Text="Порядок определения карт" />
            <RadzenText Text="Игровые карты определяются методом вычёркивания и пиков перед началом матча. На сервере необходимо написать в чат !bo1 или !bo3, далее система сделает все за Вас, нужно лишь читать сообщения от сервера о том, кому необходимо банить или пикать ту или иную карту." />

            <RadzenText TextStyle="TextStyle.H5" Style="margin-top: 4vh" Text="Пауза" />
            <RadzenText Text="Для команд доступны суммарно четыре тактических (!pause) и две технических (!pause5) пауз. Во время перерыва между половинами активируется команда sv_pausable 1 - данная пауза является стандартной для игрового движка. Такая пауза должна длиться не более 10 минут." />

            <RadzenText TextStyle="TextStyle.H5" Style="margin-top: 4vh" Text="POV-демо" />
            <RadzenText Text="Любая команда вправе потребовать у любого количества игроков противоположной команды POV-демо (далее - демо). В случае требования демо, игрок(-и) должны в течение минуты начать запись и предоставить её соперникам не позднее одних суток. В случае отказа или не предоставления демо, команде ставится техническое поражение." />

            <RadzenText TextStyle="TextStyle.H5" Style="margin-top: 4vh" Text="Завершение матча" />
            <RadzenText TextStyle="TextStyle.H6" Style="margin-top: 2vh" Text="Протест" />
            <RadzenText Text="В случае если команда уверена в нарушении правил оппонентами, она имеет право подать протест. Протест подаётся в течении 90 минут после завершения матча. Через 90 минут исход матча будет автоматически зачтен, и любые протесты приниматься не будут. Протест может подать исключительно проигравшая команда. Все протесты будут рассмотрены в течение 24 часов после подачи протеста. Решение администрации не подлежит обсуждению." />

            <RadzenText TextStyle="TextStyle.H6" Style="margin-top: 2vh" Text="Перенос матча" />
            <RadzenText Text="Перенос матча допускается в случае если команда сообщила об этом не менее чем за 12 часов до начала игры, имея на этот счёт уважительные причины. Сообщив администрации о переносе матча, команда должна договориться о новой дате проведения матча с их оппонентами. Перенос матча возможен лишь на следующий день." />

            <RadzenText TextStyle="TextStyle.H6" Style="margin-top: 2vh" Text="Нарушения" />
            <ul>
                <li><RadzenText Text="Запрещены легкие оскорбления, касающиеся лично игрока или команды (отключение чата обеим командам, кроме капитанов)." /></li>
                <li><RadzenText Text="Запрещены жесткие оскорбления, касающиеся родственников и близких игрока (нарушитель будет заблокирован на три месяца)." /></li>
                <li><RadzenText Text="Запрещена пропаганда в игровом чате терроризма, нацизма, насилия и так далее (нарушитель будет пожизненно заблокирован)." /></li>
                <li><RadzenText Text="Запрещены цветные модели игроков и неоновые модели оружия (за нарушение команде ставится техническое поражение, а нарушителю блокировка на 3 недели)." /></li>
                <li><RadzenText Text="Запрещено любое стороннее программное обеспечение, которое может дать незаслуженное преимущество игроку или команде. Использование подобного классифицируются как читерство (команда снимается с турнира, а нарушителю пожизненный бан)." /></li>
                <li><RadzenText Text="Запрещена установка бомбы таким образом, чтобы ее невозможно было разминировать (техническое поражение)." /></li>
                <li><RadzenText Text="Запрещено разминирование бомбы через текстуры (техническое поражение)." /></li>
                <li><RadzenText Text="За отказ от переигровки матча, который был аннулирован или перенесён администрацией или командами, команда блокируется на полгода." /></li>
                <li><RadzenText Text="Запрещен баг с дымом на видеокартах NVIDIA (команда снимается с турнира, а нарушитель блокируется навсегда)." /></li>
                <li><RadzenText Text="Запрещено использование багов карт, например, на карте dust2 просмотр через текстуру окна на длине, подсадка на текстуры на карте tuscan в кухне (техническое поражение)." /></li>
                <li><RadzenText Text="Запрещено использование особенности игры, заключающейся в перезагрузке звуков по нажатию на горячую клавишу (bind), поскольку это дает преимущество в особых игровых случаях (техническое поражение)." /></li>
            </ul>

        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

<style>
    .rz-text-body1 {
        margin: 0;
    }
</style>