<div class="ktv-loader">
    <div style="justify-content: center;display: flex;">
        <img style="height: 50%;width:50%" src="/images/ktvcss.webp" />
    </div>
</div>

<style>
    .ktv-loader {
        overflow: hidden;
        background-color: #121518;
        display: flex;
        width: 100vw;
        height: 100vh;
        margin: auto;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
</style>