@using kTVCSS.Models.Db.Models.Common
@using kTVCSS.Models.Models
@using kTVCSSBlazor.Client.Authorization
@using kTVCSSBlazor.Db.Models.Players
@inject StateProvider AuthProvider
@inject NavigationManager nm
@inject HttpClient http
@inject TooltipService tooltipService
@inject DialogService DialogService
@inject NotificationService ns

<RadzenButton Text="Лучшие моменты" Click="@(() => { nm.NavigateTo($"/player/highlights/{player.MainInfo.Id}"); })" Icon="movie"></RadzenButton>

<RadzenButton Click="SetMMR" Text="Задать рейтинг" Icon="accessible" />

@if (player.MainInfo.Block == 1)
{
    <RadzenButton Click="OpenUnban" Icon="lock_open" Text="Разбанить"></RadzenButton>
}
else
{
    <RadzenButton Click="OpenBan" Icon="lock" Text="Забанить"></RadzenButton>
}

@code {
    private async Task SetMMR()
    {
        var result = await DialogService.OpenAsync("Изменение рейтинга", ds =>
        @<RadzenStack Gap="1.5rem">
            <p>Изменение рейтинга будет работать правильно только у откалиброванных игроков</p>
            <RadzenNumeric @bind-Value=@player.MainInfo.MMR Style="width: 100%;" />
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Изменить" Click=@(() => { ds.Close(true); ExecuteSetMMR(); }) />
                    <RadzenButton Text="Отмена" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
    );
    }

    private async Task OpenUnban()
    {
        var result = await DialogService.OpenAsync("Снятие бана", ds =>
        @<RadzenStack Gap="1.5rem">
            <p>Опишите причину разбана</p>
            <RadzenTextBox @bind-Value=@unbanReason Style="width: 100%;" />
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Разбанить" Click=@(() => { ds.Close(true); UnbanPlayer(); }) />
                    <RadzenButton Text="Отмена" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
        );
    }

    private async Task OpenBan()
    {
        var reasons = await http.GetFromJsonAsync<List<BanReason>>("/api/admins/getbanreasons");

        var result = await DialogService.OpenAsync("Снятие бана", ds =>
        @<RadzenStack Gap="1.5rem">
            <p>Выберите причину бана</p>
        <RadzenDropDown @bind-Value=@_selectedReason Data=@reasons Style="width: 100%;" TextProperty="@nameof(BanReason.Name)" Name="DropDownBindValue" />
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Забанить" Click=@(() => { ds.Close(true); Ban(); }) />
                    <RadzenButton Text="Отмена" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
        );
    }
}
