@inject NavigationManager NavigationManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <RadzenTheme @rendermode="@InteractiveWebAssembly" Theme="material3-dark" />
    <link asp-append-version="true" rel="stylesheet" href="css/site.css" />
    <link href="kTVCSSBlazor.Server.styles.css" rel="stylesheet" />
    <link href="kTVCSSBlazor.Client.styles.css" rel="stylesheet" />
    <link asp-append-version="true" rel="icon" href="favicon.ico" />
    <link asp-append-version="true" href="manifest.json" rel="manifest" />
    <link asp-append-version="true" rel="apple-touch-icon" sizes="512x512" href="/images/logo_ktv.png" />
    <script asp-append-version="true" src="/scripts/layout.js"></script>
    <script asp-append-version="true" src="/Layout/MainLayout.razor.js"></script>
    <HeadOutlet @rendermode="@InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="@InteractiveWebAssembly" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
    <script>navigator.serviceWorker.register('service-worker.js');</script>
</body>

</html>
