@inject NavigationManager NavigationManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@NavigationManager.BaseUri" />
    <RadzenTheme @rendermode="@InteractiveWebAssembly" Theme="material3-dark" />
    <link asp-append-version="true" rel="stylesheet" href="css/site.css" />
    <link href="kTVCSSBlazor.Server.styles.css" rel="stylesheet" />
    <link asp-append-version="true" rel="icon" href="favicon.ico" />
    <link asp-append-version="true" href="manifest.json" rel="manifest" />
    <link asp-append-version="true" rel="apple-touch-icon" sizes="512x512" href="/images/title.png" />
    <script asp-append-version="true" src="/scripts/layout.js"></script>
    <script asp-append-version="true" src="/js/windowSizeSex.js"></script>
    <script asp-append-version="true" src="/Layout/MainLayout.razor.js"></script>
    <script asp-append-version="true" src="/js/NoSleep.min.js"></script>
    <script asp-append-version="true" src="/js/crypto.js"></script>
    <HeadOutlet @rendermode="@InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="@InteractiveWebAssembly" />
    <script src="_framework/blazor.web.js"></script>
    <script
        src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
    <script>navigator.serviceWorker.register('service-worker.js');</script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })(window, document, 'script', 'https://mc.yandex.ru/metrika/tag.js', 'ym');

        ym(98342369, 'init', { webvisor: true, clickmap: true, accurateTrackBounce: true, trackLinks: true });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/98342369" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</body>

</html>
